@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,400&display=swap");
body {
    font-family: "Plus Jakarta Sans", sans-serif;
  }

.card-body {
  font-weight: lighter;
  color: white !important;
  background: rgb(202, 28, 42) !important;
  background: linear-gradient(
    186deg,
    rgba(202, 28, 42, 1) 0%,
    rgba(42, 172, 228, 1) 46%,
    rgba(0, 212, 255, 1) 100%
  ) !important;
  border-bottom: solid white;
  border-top: solid white;
  border-left: solid white;
  border: solid white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn-warning {
    border: none !important;
    align-items: center;
    border-radius: 0px !important;
    border-width: 0rem !important;
    color: white;
    cursor: pointer;
    display: inline-flex;
    padding-left: 10px;
    padding-right: 11.9rem;
    size: 50rem;
    width: fit-content;
    height: 48px;
    width: 1px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    margin-top: 15px;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 16px;
    text-transform: none !important;
    font-family: "Plus Jakarta Sans", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: relative;
    --bs-btn-color: ;
    --bs-btn-bg: --primary;
    --bs-btn-border-color: --primary;
    --bs-btn-hover-color: ;
    --bs-btn-hover-bg: ;
    --bs-btn-hover-border-color: ;
    --bs-btn-focus-shadow-rgb: 217,164,6;
    --bs-btn-active-color: ;
    --bs-btn-active-bg: #;
    --bs-btn-active-border-color: ;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: ;
    --bs-btn-disabled-bg: --primary;
    --bs-btn-disabled-border-color: --primary;
}
.btn {
    width: 150px;
    height: 45px;
    border-radius: 45px;
    cursor: pointer;
    border: solid;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-weight: bold;
}
.c2-img {
  max-width: 100%;
  height: auto;
  width: 100%;
  object-fit: contain;
  filter: brightness(1);
}

.c2-main{
    padding-top: 5rem;
}

.c2-img{
    border-color: linear-gradient(
        186deg,
        rgba(202, 28, 42, 1) 0%,
        rgba(42, 172, 228, 1) 46%,
        rgba(0, 212, 255, 1) 100%
      ) !important;
    border-width: 1rem;
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.c2-img:hover{
    border: solid 1px white;
    border-width: 1rem;
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.carousel-item:hover{
    transition: all 1s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.carousel-item{
    transition: all 1s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.bordacont{
    transition: all 1s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.bordacont:hover{
    transition: all 1s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.txtcpas{
  line-height: 1%;
font-size: 32px;
color: black;
padding-top: 5rem;
transition: all 0.5s ease-in;
}
