/** font **/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,400&display=swap");
/**color**/
:root {
  --primary: #ca1c2a;
  ---black: #010101;
  --gray-1: #788190;
  --white: #ffffff;
  --gray-2: #0e4e7c;
  --blue-1: #00bfff;
  --blue-2: #4169e1;
  --gray-3: #828899;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  background-color: inherit;
}
a::after {
  color: inherit;
}
a:active{
  color: inherit;
}

/**body*/
body {
  font-family: "Plus Jakarta Sans", sans-serif;
}
/*btn*/
.btn-danger:hover {
  color: var(--white);
  border-color: #010101;
}



.btn-warning.fa::before{
  font-family: 'FontAwesome';
 font-size: 1rem;
}
.btn-warning{
  border: none !important;
  align-items: center;
  border-radius: 0px !important;
  border-width: 0rem !important;
  color: white;
  cursor: pointer;
  display: inline-flex;
  padding-left: 10px;
  padding-right: 11.9rem;
  size: 50rem;
  width: fit-content;
  height: 48px;
  width: 1px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  margin-top: 15px;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 16px;
  text-transform: none !important;
  font-family: "Plus Jakarta Sans", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: relative;

  --bs-btn-color: ;
    --bs-btn-bg: --primary;
    --bs-btn-border-color: --primary;
    --bs-btn-hover-color: ;
    --bs-btn-hover-bg: ;
    --bs-btn-hover-border-color: ;
    --bs-btn-focus-shadow-rgb: 217,164,6;
    --bs-btn-active-color: ;
    --bs-btn-active-bg: #;
    --bs-btn-active-border-color: ;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: ;
    --bs-btn-disabled-bg: --primary;
    --bs-btn-disabled-border-color: --primary;
    
  
}
.btn-warning:focus{
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  color: white;


}
.btn-warning:hover{
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
color: var(--white);
text-decoration: none;
transition: all 0.9s ease;
}
.btn-warning:active{
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
border-color: none;
text-decoration: none;
color: white;



}
.btn-warning::after{
  opacity: 0;
  transition: all 0.2s;
  height: 4px;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}

.btn-warning:hover::after{
  content: '';
  opacity: 1;
 
}

.btn {
  width: 150px;
  height: 45px;
  border-radius: 45px;
  cursor: pointer;
  border: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;


}
.btn:hover {
  transform: translateY(-7px);
  box-shadow: 0px 10px 25px rgba(46, 223, 229, 0.445);
}
.btn-primary,
.btn-outline-secondary {
  padding: 15px 15px;
  color: var(--white);
}
.btn-primary {
  background-color: var(---black);
}
.btn-primary:hover {
  background-color: var(---black);
  color: var(--primary);
}
.btn-outline-secondary {
  border: solid var(--size-2);
    border-radius: var(--radius-4);
    background: 
      linear-gradient(var(--surface-1), var(--surface-1)) padding-box, 
      var(--gradient-1) border-box;
}
.btn-outline-secondary:hover {
  background-color: var(--white);
  color: var(--primary);
}
.btn-danger {
  border: 2px solid;
}
.btn-outline-danger {
  border: 10px solid;
}
.bnt-outline-primary {
  background: #4169e1;
  color: #fff;
}

/*btn*/



/*dark mode*/
body.dark-mode {
  background-color: #222120;
  color: #fff;

}

.dark-mode .navbar {
  background-color: #151f44;
  color: #fff;
}

.dark-mode .navbar a {
  color: #fff;
}

.dark-mode #footer {
  background-color: #151f44 !important;
  color: white;
}

.dark-mode #servicos {
  background-color: #151f44;
  color: #fff;
}
.btndarkmode{
  width: 4.9rem !important;
  height: 50px !important;
  border: solid;
  border-radius:8px !important;
 
  color: white;
  font-size: 30px;

}
.btndarkmode:hover{
  border: solid !important;
  border-color: black !important;
  color: white !important;
}

.dark-mode .dropdown-menu {
  background-color: #222222; /* Cor de fundo escura para o dropdown */
}

.dark-mode .dropdown-item {
  color: #FFFFFF; /* Cor do texto claro para os itens do dropdown */
}

.dark-mode .dropdown-item:hover,
.dark-mode .dropdown-item:focus {
  background-color: #333333; /* Cor de fundo escura para o item do dropdown quando hover ou focus */
}

.dark-mode .card {
  background-color: #151f44;
  color: #ffffff;
}

.dark-mode .card-body {
  background-color: #151f44;
  color: #ffffff;
}

.dark-mode .card-title {
  color: #ffffff;
}

.dark-mode .card-text {
  color: white;
  background-color:#151f44;
}



.dark-mode .btn:hover,
.dark-mode .btn:focus {
  background-color: black;
}

.fa-bars{
  font-family: 'FontAwesome';
  font-size:27px;
  color: white;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);

}
.fa-bars:hover{
  font-family: 'FontAwesome';
  font-size:27px;
  color: white;

}

/*nav*/
.navbar .btn-outline-secondary {
  margin-inline-start: 5px;

  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding: 10px 16px;
  margin-bottom: 12px;
}



.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: center !important;
}




.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  display: grid;
  justify-content: center;
  justify-items: center;
}
.navbar .btn-outline-secondary:hover {
  color: var(--primary);
}

.navbar {
  padding: 15px 0px;
  background-color: #ca1c2a;
}

.nav-link {
  margin-left: 20px;
  margin-right: 50px;
  font-size: 16px;
  color: var(--white);
  position: relative;
}
.nav-link::after {
  content: "";
  opacity: 0;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  opacity: 1;
}



.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-evenly;
}
.navbar-collapse{
  transition: ease-in-out 0.5s;
}

.dropdown,
.dropdown-center,
.dropend,
.dropstart,
.dropup,
.dropup-center {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1%;
}
.nav-link:hover {
  color: var(--white);
}
.nav-link:after {
  color: var(--white);
}
.navbar-nav .nav-link.active {
  color: var(---white);
  font-weight: bold;
}
.dropdown-item:hover {
  color: var(--primary);
  text-decoration-color: var(---black);
  background-color: var(---white);
}
.nav-link .dropdown-toggle {
  color: var(--white);
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--white);
}
.form-inline {
  padding-left: 12px 15px;
  margin-left: 5px;
  padding-top: 40px;
  border-radius: 8px;
}
.form-inline .btn-outline-secondary {
  padding-left: 12px 15px;
  margin-top: 60px;
}
/*nav*/

/*carousel*/
.c-item {
  height: 580px;
}
.c-img {
  padding-top: 70px;
  height: 110%;
  object-fit: contain;
  filter: brightness(1);
}
.carousel-caption {
  color: var(---black);
  font-size: 16px;
  font-weight: 500px;
  font-weight: bolder;
  line-height: 1px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;

  outline: var(---black);
  background-size: 100%, 100%;
  border-radius: 80%;
  background-image: none;
  position: absolute;
  border: solid;
}
.carousel-control-prev-icon {
  background-image: none !important;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: var(--white);
}
.carousel-control {
  background-image: none !important;
}
.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: var(--white);
}

.carousel-indicators {
  bottom: 0;
}
/*carousel*/

/*** card container **/
.card-container {
  padding-top: 5rem;
}
.i {
  font-size: 20rem;
  color: #ca1c2a;
  border-radius: 8px;
  text-shadow: #010101;
}

.c-text {
  color: var(--blue-2);
  color: black;
  font-weight: normal;
  font-size: 36px;
  text-shadow: 0 3px white;
  padding-top: 2rem;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card-text,
.card-body {
  font-weight: bold;
  background-color: var(--white);
  color: var(--blue-2);
}
.card {
  background-color: aliceblue;
}
.fa-check {
  stroke: black;
  stroke-width: 10;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  justify-content: center !important;
}
/*** card container **/

/*** footer **/
.fafooter {
  display: flex;
  justify-content: center;
  font-size: 30px;
  line-height: 1rem;
}
.bntfooter .footerlink {
  text-decoration: none;
  color: none;
}

.instagrambg {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.instagrambg:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

/*** footer **/



.esqsenha:hover {
  transform: translateY(-15px);
  cursor: pointer;
  color: var(---black);
  font-weight: bold;
  transition: all 0.3s ease;
  background-color: none;
}

.lembrar:hover {
  cursor: pointer;
  color: var(--primary);
  font-weight: bold;
  transition: all 0.3s ease;
  background-color: none;
}

.form-check-input:checked {
  background-color: #dc3545;
  border-color: #010101;
}
.form3 {
  padding-top: 4rem;
  padding-bottom: 2rem;
  height: fit-content;
  margin-top: 4rem;
}
.img-login {
  margin-bottom: 2rem;
}

.card-gradiente {
  background: rgb(202, 28, 42);
  background: linear-gradient(
    60deg,
    rgba(202, 28, 28, 1) 10%,
    rgba(7, 83, 255, 1) 92%
  );
}

.btn-login {
  background: rgb(202, 28, 42);
  background: linear-gradient(
    15deg,
    rgba(202, 28, 42, 1) 34%,
    rgba(7, 83, 255, 1) 92%
  );
  align-content: center;
  align-items: center;
  justify-content: space-around;
  font-size: 0.7rem;
}

.footermeu {
  margin-top: 8rem;
  background-color: #ca1c2a;
}

input:invalid:required {
  border: 2px solid red;
}

input:valid {
  border: 2px solid #198754;
}

input:invalid {
  border: 2px solid red;
}

.genderform{
  border-color: black;
}

.userinput:valid{
border: 2px solid rgba(7, 83, 255, 1);
}
.userinput{
  border: 2px solid rgba(7, 83, 255, 1) !important;
  }
.senhainput{
  border: 2px solid rgba(7, 83, 255, 1) !important;
}
.senhainput:valid{
  border: 2px solid rgba(7, 83, 255, 1);
}

.textocard{

    font-size: 6rem;
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
transform: scale(0.94);
animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
100% {
  transform: scale(1);
}

}

.textocard2{
    font-size: 4rem;
    margin-top: 5rem;
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
transform: scale(0.94);
animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
100% {
  transform: scale(1);
}


}

.textocard3{
    font-size: 3rem;
    margin-top: 5rem;
padding-top: 5rem;
transform: scale(0.94);
animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
100% {
  transform: scale(1);
}

}

.imgcardtelecall{
    margin-bottom: 15rem;

}

.d-flex {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
}

.imgcardtelecall2{
    margin-top: 15rem;

}




